/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.logo {
  padding-right: 10px;
}
.footer.content {
  margin-top: 0px;
  color: white;
  background: #060d30;
}
.navigation .level0 .submenu {
  color: #e5ffd8;
  background: #060d30;
}
.navigation .level0 > .level-top:hover {
  color: #40cdb9;
}
.nav-sections {
  margin-bottom: 0px;
}
.page-header .panel.wrapper {
  border-bottom: 1px solid #e8e8e8;
  background: #060d30;
  color: white;
}
.navigation .level0.active > .level-top,
.navigation .level0.has-active > .level-top {
  border-color: #050f80;
  border-style: solid;
  border-width: 0 0 3px;
  color: #40cdb9;
  text-decoration: none;
  display: inline-block;
}
.navigation {
  text-align-last: center;
}
.minicart-wrapper:hover {
  color: red;
}
.minicart-wrapper {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 45px;
  margin-left: 13px;
  padding: 0 12px;
  content: '\e611';
  color: #0f0a0a;
}
.minicart-wrapper .action.showcart {
  line-height: 51px;
  background: transparent;
}
.minicart-wrapper .action.showcart:before {
  content: '\e611';
  color: rgba(229, 255, 216, 0.98);
  font-size: 50px;
  font-family: 'icons-blank-theme';
}
.minicart-wrapper .action.showcart.active:before {
  content: '\e611';
  color: #eb0e0e;
  font-size: 40px;
  font-family: 'icons-blank-theme';
}
.minicart-wrapper .block-minicart {
  right: 0;
  width: 390px;
}
.header.panel > .header.links > li > a:visited,
.header.panel > .header.links > li.welcome,
.header.panel > .header.links > li > a:active {
  color: #ffffff;
}
.header.panel > .header.links > li a {
  line-height: 1.4;
  color: white;
}
.footer > li a {
  color: white;
}
.page-header {
  margin-bottom: -14px;
  border: 0;
}
.minicart-wrapper .action.showcart:hover:before {
  color: #ff6b25;
}
.page-print .logo {
  display: block;
  float: none;
  text-align: left;
}
@media print {
  * {
    -webkit-filter: none !important;
    background: transparent !important;
    color: #000000 !important;
    filter: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  .table-wrapper table {
    width: 100%;
    table-layout: fixed;
  }
  .table-wrapper table td {
    width: auto;
  }
  .table-wrapper table > tfoot > tr:first-child {
    border-top: 1px solid #999999;
  }
  .box,
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
  }
  .block-content,
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  .block-content {
    page-break-before: avoid;
  }
  .block-title,
  h2,
  h3 {
    page-break-after: avoid;
  }
  .nav-toggle {
    display: none !important;
  }
  .sidebar,
  .nav-sections,
  .header.content > *[class],
  .panel.wrapper > *[class],
  .footer.content > *[class] {
    display: none;
  }
  .logo,
  .footer .copyright {
    display: block !important;
    margin: 10px 0;
  }
  .order-details-items .order-items .order-gift-message:not(.expanded-content) {
    height: auto;
    visibility: visible;
  }
  .column.main {
    float: none !important;
    width: 100% !important;
  }
  .breadcrumbs {
    margin: 0 auto;
    text-align: right;
  }
  .footer.content {
    padding: 0;
  }
  .hidden-print {
    display: none !important;
  }
}
